{% extends '@FarosAdmin/layout.html.twig' %}

{% block title %}
    {{ rendu.name }}
{% endblock %}

{% block workspace %}
<div class="panel panel-primary">
    <div class="panel-body form-horizontal">
        <div class="form-group row required">
            <label class="col-sm-3 control-label required">
                <strong rel="tooltip" title="" data-original-title="Ce champ est obligatoire">Élève</strong>
            </label>
            <div class="col-sm-2">
                <p class="form-control-static">
                    <a href="{{ path('admin_student_edit', {'id': rendu.student.id} )}}">
                    {{ rendu.student.name }}
                    </a>
                </p>
            </div>
            <label class="col-sm-2 control-label required">
                <strong rel="tooltip" title="" data-original-title="Ce champ est obligatoire">Note</strong>
            </label>
            <div class="col-sm-1">
                <p class="form-control-static">
                    {{ rendu.note }} <sup>/20</sup>
                </p>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 control-label">Alerte cours</label>

            <div class="col-sm-2">
                <p class="form-control-static">
                {% if rendu.alerteCours %}
                    <span class="label label-success">Non</span>
                {% else %}
                    <span class="label label-danger">Oui</span>
                {% endif %}
                </p>
            </div>

            <label class="col-sm-2 control-label">Alerte comportement</label>

            <div class="col-sm-2">
                <p class="form-control-static">
                {% if rendu.alerteComportement %}
                    <span class="label label-success">Non</span>
                {% else %}
                    <span class="label label-danger">Oui</span>
                {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Commentaires</legend>
                    <blockquote>{{ rendu.commentaires|nl2br }}</blockquote>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Conseils</legend>
                    <blockquote>{{ rendu.conseils|nl2br }}</blockquote>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
