{% extends '@FarosAdmin/CRUD/form.html.twig' %}

{% block primary_fields %}
    {{ form_row(form.firstname, {'label': 'Prénom'}) }}
    {{ form_row(form.lastname, {'label': 'Nom'}) }}
    {{ form_row(form.classe, {'label': 'Classe'}) }}
{% endblock %}

{% block group_heading  %}
  <li class="active"><a href="#eval" data-toggle="tab">Évaluations</a></li>
{% endblock %}

{% block group_panel %}
  <div id="eval" class="tab-pane form-horizontal active">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>Date</th>
                <th>Évaluation</th>
                <th class="col-sm-1 text-center">Note</th>
                <th class="col-sm-1 text-center">Moyenne Avant</th>
                <th class="col-sm-1 text-center">Moyenne Après</th>
            </tr>
            {% for rendu in entity.rendus %}
            <tr>
                <td>{{ rendu.evaluation.occuredAt|localizeddate('medium', 'none') }}</td>
                <td><a href="{{ path('admin_rendu_show',{'id': rendu.id}) }}">{{ rendu.evaluation.name }}</a>
                    {% if rendu.alerteCours %}<span class="label label-danger"><i class="fa fa-warning"></i> Alerte cours</span> {% endif %}
                    {% if rendu.alerteComportement %}<span class="label label-warning"><i class="fa fa-warning"></i> Alerte comportement</span> {% endif %}
                </td>
                <td class="text-center {{ rendu.note|asColor }}">{{ rendu.note|number_format(0) }} <sup>/20</sup></td>
                <td class="text-center {{ rendu.moyenneAvant|asColor }}">{{ rendu.moyenneAvant }} <sup>/20</sup></td>
                <td class="text-center {{ rendu.moyenneApres|asColor }}"><small class="text-muted">({{ rendu.moyenneApres - rendu.moyenneAvant }})</small> {{ rendu.moyenneApres }} <sup>/20</sup> </td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="2" class="text-right">Moyenne</th>
                <th colspan="3" class="text-center {{ entity.moyenne|asColor }}">{{ entity.moyenne }} <sup>/20</sup></td>
            </tr>
        </table>
  </div>
{% endblock %}
