{% extends '@FarosAdmin/layout.html.twig' %}

{% block title %}
    Liste des classes
{% endblock %}

{% block workspace %}
    {% for row in classes|batch(6) %}
    <div class="row">
        {% for classe in row %}
            <div class="col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">{{ classe.name }}</div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><span class="badge">{{ classe.students.count() }}</span> élèves</li>
                            <li>Moyenne <strong>{{classe.moyenne }} <sup>/20</sup></strong></li>
                            {% if classe.derniereEvaluation is not null %}
                            <li>Dernière évaluation : <a href="{{ path('admin_evaluation_summary', {'id': classe.derniereEvaluation.id })}}">{{ classe.derniereEvaluation.occuredAt|localizeddate('medium', 'none') }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path("admin_classe_show", {"id": classe.id}) }}" class="btn">Voir la classe</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
