{% extends '@FarosAdmin/layout.html.twig' %}

{% block title %}
    {{ entity.name }}
{% endblock %}

{% block workspace %}
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-graduation-cap"></i> Élèves</div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th class="text-right">Moyenne</th>
                        <td class="text-center {{ entity.moyenne|asColor }}"><strong>{{ entity.moyenne }} <sub>/20</sub></strong></td>
                    </tr>
                    {% for student in entity.students %}
                    <tr>
                        <td><a href="{{ path('admin_student_edit', {'id': student.id })}}">{{ student.name }}</a></td>
                        <td class="text-center {{ student.moyenne|asColor }}"><strong>{{ student.moyenne }} <sub>/20</sub></strong></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-star"></i> Évaluations</div>
            <div class="panel-body">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th class="text-center">Date</th>
                        <th>Nom</th>
                        <th class="text-center col-sm-1">Moyenne éval</th>
                        <th class="text-center col-sm-1">Moyenne avant</th>
                        <th class="text-center col-sm-1">Moyenne après</th>
                    </tr>
                    {% for eval in entity.evaluations %}
                    <tr>
                        <td class="text-center">{{ eval.occuredAt|localizeddate('medium', 'none') }}</td>
                        <td>
                            <a href="{{ path('admin_evaluation_summary', {'id': eval.id}) }}"> {{ eval.name }}</a>
                        </td>
                        <td class="text-center {{ eval.moyenne|asColor }}">
                            <strong >{{ eval.moyenne }}/20</strong>
                        </td>
                        <td class="text-center {{ eval.moyenneAvant|asColor }}">
                            <strong >{{ eval.moyenneAvant }}/20</strong>
                        </td>
                        <td class="text-center {{ eval.moyenneApres|asColor }}">
                            <strong >{{ eval.moyenneApres }}/20</strong>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="text-center">
                            <a href="{{ path('admin_evaluation_new', {'classe': entity.name})}}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Ajouter une évaluation</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
