{% extends '@FarosAdmin/CRUD/form.html.twig' %}

{% block primary_fields %}
    {{ form_row(form.name, {"label": "Titre"}) }}
    {{ form_row(form.occuredAt, {'label' : "Date de l'évaluation"}) }}
{% endblock %}

{% block fields  %}
{% if entity.id is not null %}
    <div class="text-center">
    <a href="{{ path('admin_evaluation_rendu', {'id': entity.id})}}" class="btn btn-primary">Démarrer les rendus</a>
    </div>
{% endif %}
{% endblock fields  %}
