{% extends '@FarosAdmin/layout.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb" id="">
    <li><a href="/"><i class="icon-home"></i> Accueil</a></li>
    <li><a href="{{ path('admin_classe_show', {'id': evaluation.classe.id }) }}">{{ evaluation.classe.name }}</a></li>
    <li><a href="{{ path('admin_evaluation_summary', {'id': evaluation.id }) }}">{{ evaluation.occuredAt|date('d/m/Y') }} - {{ evaluation.name }}</a></li>
    <li class="active">Rendus</li>
</ol>
{% endblock %}
{% block title %}
    {{ evaluation.classe.name }} - {{ evaluation.name }}
{% endblock %}

{% block workspace %}
{% form_theme form '@FarosAdmin/Form/fields.html.twig' %}
<form method="POST" class="form-horizontal">
    <input type="hidden" name="classe" value="{{ evaluation.classe.id }}">

    <div class="panel panel-primary">
        <div class="panel-body ">
            <div class="contextual-progress">
                <div class="clearfix">
                    <div class="progress-title">Progression de l'évaluation</div>
                    <div class="progress-percentage">{{ evaluation.progressionAsString }}</div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: {{ evaluation.progression}}%"></div>
                </div>
            </div>

            <div class="form-group row required">
                <label class="col-sm-3 control-label required">
                    <strong rel="tooltip" title="" data-original-title="Ce champ est obligatoire">Élève</strong>
                </label>
                <div class="col-sm-2">
                    {{ form_widget(form.student) }}
                </div>
                <label class="col-sm-2 control-label required">
                    <strong rel="tooltip" title="" data-original-title="Ce champ est obligatoire">Note</strong>
                </label>
                <div class="col-sm-1">
                    <div class="input-group">
                        <input class="form-control" type="number" value="{{ form.note.vars.value }}" name="{{ form.note.vars.full_name }}" max="20" min="0" step="0.25">
                        <span class="input-group-addon">/20</span>
                    </div>
                </div>
                {% do form.note.setRendered() %}
            </div>


            <div class="form-group row">
                <label class="col-sm-3 control-label">Alerte cours</label>

                <div class="col-sm-2">
                    {{ form_widget(form.alerteCours, {'widget_toggle': 'info'}) }}
                </div>

                <label class="col-sm-2 control-label">Alerte comportement</label>

                <div class="col-sm-2">
                    {{ form_widget(form.alerteComportement, {'widget_toggle': 'info'}) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <fieldset>
                        <legend>Commentaires</legend>
                        {{ form_widget(form.commentaires, {'label': 'Commentaires', 'attr': {'style': 'height: 200px'}}) }}
                        {% for commentaire in evaluation.commentairesDifferents  %}
                            <blockquote>{{ commentaire|nl2br }}</blockquote>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="col-sm-4">
                    <fieldset>
                        <legend>Conseils</legend>
                        {{ form_widget(form.conseils, {'label': 'Conseils', 'attr': {'style': 'height: 200px'}}) }}
                        {% for conseils in evaluation.conseilsDifferents  %}
                            <blockquote>{{ conseils|nl2br }}</blockquote>
                        {% endfor %}
                    </fieldset>
                </div>
                 <div class="col-sm-4">
                    <fieldset>
                        <legend>Attitude</legend>
                        {{ form_widget(form.attitude, {'label': 'Attitude', 'attr': {'style': 'height: 200px'}}) }}
                        {% for attitude in evaluation.attitudeDifferents  %}
                            <blockquote>{{ attitude|nl2br }}</blockquote>
                        {% endfor %}
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
    </div>

    {{ form_rest(form) }}
</form>

<div class="panel panel-primary">
    <div class="panel-heading">Rendu existant</div>
    <div class="panel-body">
        <ul class="list-unstyled">
            {% for rendu in evaluation.rendus %}
                <li><a href="{{ path('admin_evaluation_rendu', {'id': evaluation.id, 'rendu': rendu.id}) }}">{{ rendu.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
