{% extends '@FarosAdmin/layout.html.twig' %}

{% block title %}
    {{ evaluation.classe.name }} - {{ evaluation.name }}
{% endblock %}

{% block options %}
    <a href="{{ path('admin_evaluation_print_rendu', {'id': evaluation.id}) }}" class="btn btn-primary"><i class="fa fa-download"></i> Télécharger les rendus</a>
    <a href="{{ path('admin_evaluation_rendu', {'id': evaluation.id})}}" class="btn btn-default"><i class="fa fa"></i> Modifier/Ajouter des rendus</a>
{% endblock %}

{% block workspace %}
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-condensed table-bordered">
            <tr>
                <th>Élève</th>
                <th class="col-sm-1 text-center">Note</th>
                <th class="col-sm-1 text-center">Moyenne Avant</th>
                <th class="col-sm-1 text-center">Moyenne Après</th>
            </tr>
        {% for rendu in evaluation.rendus %}
            <tr>
                <td><a href="{{ path('admin_student_edit',{'id': rendu.student.id}) }}">{{ rendu.student.name }}</a>
                    {% if rendu.alerteCours %}<span class="label label-danger"><i class="fa fa-warning"></i> Alerte cours</span> {% endif %}
                    {% if rendu.alerteComportement %}<span class="label label-warning"><i class="fa fa-warning"></i> Alerte comportement</span> {% endif %}
                </td>
                <td class="text-center {{ rendu.note|asColor }}">{{ rendu.note|number_format(0) }} <sup>/20</sup></td>
                <td class="text-center {{ rendu.moyenneAvant|asColor }}">{{ rendu.moyenneAvant }} <sup>/20</sup></td>
                <td class="text-center {{ rendu.moyenneApres|asColor }}"><small class="text-muted">({{ rendu.moyenneApres - rendu.moyenneAvant }})</small> {{ rendu.moyenneApres }} <sup>/20</sup> </td>
            </tr>
        {% endfor %}
            <tr>
                <th class="text-right">Classe</th>
                <th class="text-center {{ evaluation.moyenne|asColor }}">{{ evaluation.moyenne }} <sup>/20</sup></td>
                <th class="text-center {{ evaluation.moyenneAvant|asColor }}">{{ evaluation.moyenneAvant }} <sup>/20</sup></td>
                <th class="text-center {{ evaluation.moyenneApres|asColor }}"><small class="text-muted">({{ evaluation.moyenneApres - evaluation.moyenneAvant }})</small> {{ evaluation.moyenneApres }} <sup>/20</sup></td>
            </tr>
        </table>
    </div>
</div>
{#
<hr>
<div class="row">
    <div class="col-sm-2">
        <div class="info-tiles tiles-{{ evaluation.classe.moyenne|asColor }}">
            <div class="tiles-heading">Moyenne de la {{ evaluation.classe.name }}</div>
            <div class="tiles-body">
                <div class="pull-left"><i class="fa fa-bell"></i></div>
                <div class="pull-right">{{ evaluation.classe.moyenne }} <sup>/20</sup></div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="info-tiles tiles-{{ evaluation.moyenne|asColor }}">
            <div class="tiles-heading">
                <div class="pull-left">Moyenne de l'évaluation</div>
                <div class="pull-right"></div>
            </div>
            <div class="tiles-body">
                <div class="pull-left"><i class="fa fa-bell"></i></div>
                <div class="pull-right">{{ evaluation.moyenne }} <sup>/20</sup></div>
            </div>
        </div>
    </div>
</div>


<hr>
{% for row in evaluation.renduEvaluations|batch(6) %}
    <div class="row">
        {% for rendu in row %}
        <div class="col-sm-2">
            <div class="panel panel-gray">
                <div class="panel-heading">{{ rendu.student.name }}
                    <div class="pull-right">

                        <strong>
                        <small style="color: {{ rendu.student.moyenne|asColorHex }}">
                            <i class="fa fa-long-arrow-{{ random(['up', 'down'])}}"></i> {{ rendu.student.moyenne }}
                        </small>
                        </strong>
                    </div>
                </div>
                <div class="panel-body text-center" style="font-size: 42px;font-weight: 300;">
                    <span class="label label-{{ rendu.note|asColor }}">{{ rendu.note|number_format(0) }}/20</span>
                </div>
            </div>

            <div class="info-tiles tiles-{{ rendu.note|asColor }}">
                <div class="tiles-heading">
                    <div class="pull-left">{{ rendu.student.name }}</div>
                    <div class="pull-right">{{ rendu.student.moyenne }} {{ random(['+', '-'])  }}</div>
                </div>
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-star"></i></div>
                    <div class="pull-right">{{ rendu.note|number_format(0) }} <sup>/20</sup></div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
{% endfor %}
#}
{% endblock %}
